.bg-content {
  background-color: #f5f5f5;
}
.bg-light {
  background-color: #ffffff;
}
.bg-item-top-1 {
  background-color: #fe9e9c;
}
.bg-item-bot-1 {
  background-color: #febdbf;
}
.bg-item-top-2 {
  background-color: #b3bbea;
}
.bg-item-bot-2 {
  background-color: #c1d1f9;
}
.bg-item-top-3 {
  background-color: #fbbe6e;
}
.bg-item-bot-3 {
  background-color: #fbd28e;
}
.bg-item-top-4 {
  background-color: #a6d6c2;
}
.bg-item-bot-4 {
  background-color: #a6e2da;
}
.color-red {
  color: #f04753;
}
.color-green {
  color: #00a828;
}
.color-blue {
  color: #4783f0;
}
.border-color {
  color: #cccccc;
}
.text-red {
  color: #f22a38;
}
.text-333 {
  color: #333333;
}
.text-666 {
  color: #666666;
}
.text-999 {
  color: #999999;
}
.text-light {
  color: #ffffff;
}
.text-org {
  color: #FF6C00;
}
.text-tx {
  color: #89B309;
}
body {
  min-width: 1190px;
}
.container {
  width: 1190px;
  height: 100%;
  margin: 0 auto;
}
.top-bar {
  height: 35px;
  line-height: 35px;
  width: 100%;
  background-color: #f5f5f5;
  border-bottom: 1px solid #cccccc;
}
.top-bar .top-l {
  float: left;
  color: #666666;
}
.top-bar .top-l a {
  margin-left: 5px;
}
.top-bar .top-r {
  float: right;
}
.top-bar .top-r li {
  float: left;
}
.top-bar .top-r li i {
  color: #666666;
}
.top-bar .top-r li a {
  padding: 0 10px;
  border-right: 1px solid #cccccc;
}
.top-content {
  height: 155px;
  border-bottom: 2px solid  #f22a38;
}
.top-content .logo {
  float: left;
  margin-top: 30px;
}
.top-content .search {
  float: left;
  z-index: 1;
  padding-top: 35px;
  margin-left: 173px;
  width: 570px;
}
.top-content .search .search-form {
  position: relative;
  width: 570px;
  height: 34px;
  border: 2px solid #f22a38;
}
.top-content .search .search-form .search-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
}
.top-content .search .search-form .search-list .search-name {
  height: 34px;
  line-height: 34px;
  text-align: center;
  font-size: 12px;
  color: #666666;
  border-right: 2px solid #f22a38;
  cursor: pointer;
}
.top-content .search .search-form .search-list .list {
  display: none;
  border: 2px solid #f22a38;
  width: 58px;
  margin-left: -2px;
  z-index: 5;
  background-color: #ffffff;
}
.top-content .search .search-form .search-list .list .item {
  text-align: center;
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #cccccc;
  color: #666666;
  cursor: pointer;
}
.top-content .search .search-form .search-list .list .item:last-of-type {
  border-bottom: none;
}
.top-content .search .search-form .search-list .list .item:hover {
  background-color: #f5f5f5;
}
.top-content .search .search-form .ion-search {
  position: absolute;
  font-size: 15px;
  color: #999999;
  top: 9px;
  left: 68px;
}
.top-content .search .search-form input {
  float: left;
  width: 400px;
  height: 24px;
  line-height: 24px;
  border: none;
  padding: 5px 3px 5px 87px;
  font-size: 12px;
}
.top-content .search .search-form input:focus {
  outline: none;
}
.top-content .search .search-form .search-btn {
  position: absolute;
  top: 0;
  right: -1px;
  width: 78px;
  height: 34px;
  border: none;
  text-align: center;
  background-color: #f22a38;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.top-content .shop-car {
  width: 140px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  float: left;
  margin-top: 35px;
  margin-left: 105px;
  font-size: 16px;
  color: #666666;
  cursor: pointer;
}
.top-content .shop-car:hover {
  background-color: #e1e1e1;
}
.main-content {
  padding-bottom: 23px;
  background-color: #f5f5f5;
}
.main-content img {
  margin-top: 23px;
}
.main-content .con-title {
  margin-top: 23px;
  margin-bottom: 23px;
}
.main-content .con-title .title-type {
  height: 30px;
  line-height: 30px;
  color: #ffffff;
  font-size: 26px;
  padding: 0 3px;
  background-color: #f04753;
}
.main-content .con-title .title-name {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  vertical-align: top;
  font-size: 20px;
  color: #333333;
  margin-left: 8px;
}
.main-content .con-title .title-name:hover {
  color: #f22a38;
}
.main-content .main-item {
  overflow: hidden;
  height: 540px;
  width: 100%;
}
.main-content .main-item .main-l {
  float: left;
  width: 190px;
  height: 540px;
  box-sizing: border-box;
  text-align: center;
}
.main-content .main-item .main-l .m-l-top {
  height: 415px;
  position: relative;
}
.main-content .main-item .main-l .m-l-top img {
  margin-top: 70px;
}
.main-content .main-item .main-l .m-l-top .item-text-1 {
  color: #ffffff;
  font-size: 24px;
  margin-top: 38px;
}
.main-content .main-item .main-l .m-l-top .item-text-2 {
  color: #ffffff;
  font-size: 18px;
  margin-top: 10px;
}
.main-content .main-item .main-l .m-l-top .item-text-3 {
  color: #ffffff;
  font-size: 12px;
  padding: 0 22px;
  margin-top: 30px;
}
.main-content .main-item .main-l .m-l-top .line {
  position: absolute;
  bottom: 0;
  left: 0px;
}
.main-content .main-item .main-l .m-l-bot {
  height: 125px;
}
.main-content .main-item .main-l .m-l-bot .bot-title {
  display: inline-block;
  width: 150px;
  height: 45px;
  border: 1px solid #ffffff;
  line-height: 45px;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  margin-top: 30px;
}
.main-content .main-item .main-l .m-l-bot .hover-bg-1:hover {
  background-color: #fe9e9c;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
}
.main-content .main-item .main-l .m-l-bot .hover-bg-2:hover {
  background-color: #b3bbea;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
}
.main-content .main-item .main-l .m-l-bot .hover-bg-3:hover {
  background-color: #fbbe6e;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
}
.main-content .main-item .main-l .m-l-bot .hover-bg-4:hover {
  background-color: #a6d6c2;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
}
.main-content .main-item .main-r {
  width: 1000px;
  height: 540px;
  float: left;
  box-sizing: border-box;
}
.main-content .main-item .main-r .panel-item {
  width: 188px;
  height: 256px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  margin-left: 9px;
  float: left;
}
.main-content .main-item .main-r .panel-item:nth-of-type(6),
.main-content .main-item .main-r .panel-item:nth-of-type(7),
.main-content .main-item .main-r .panel-item:nth-of-type(8),
.main-content .main-item .main-r .panel-item:nth-of-type(9),
.main-content .main-item .main-r .panel-item:nth-of-type(10) {
  margin-top: 24px;
}
.main-content .main-item .main-r .panel-item:hover {
  border-color: #f04753;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.15);
  transition: all 0.5s;
}
.main-content .main-item .main-r .panel-item .item-top {
  display: block;
  height: 208px;
}
.main-content .main-item .main-r .panel-item .item-top:hover {
  color: #666666;
}
.main-content .main-item .main-r .panel-item .item-top .item-name {
  margin: 23px auto 0 auto;
  width: 170px;
  height: 47px;
  line-height: 1.8;
  font-size: 12px;
  border-bottom: 1px solid #cccccc;
}
.main-content .main-item .main-r .panel-item .item-top .item-name:hover {
  color: #4783f0;
}
.main-content .main-item .main-r .panel-item .item-bot .price {
  float: left;
  margin-left: 9px;
  margin-top: 13px;
  color: #f22a38;
  font-size: 18px;
}
.main-content .main-item .main-r .panel-item .item-bot .sign {
  float: right;
  margin-right: 9px;
  margin-top: 14px;
  font-size: 12px;
  color: #ffffff;
}
.main-content .main-item .main-r .panel-item .item-bot .sign .ji,
.main-content .main-item .main-r .panel-item .item-bot .sign .bao,
.main-content .main-item .main-r .panel-item .item-bot .sign .shi {
  display: inline-block;
  padding: 0 3px;
  width: 16px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 2px;
}
.main-content .main-item .main-r .panel-item .item-bot .sign .ji {
  background-color: #f22a38;
}
.main-content .main-item .main-r .panel-item .item-bot .sign .bao {
  background-color: #4783f0;
}
.main-content .main-item .main-r .panel-item .item-bot .sign .shi {
  background-color: #00a828;
}
.main-content .main-item .main-r .panel-item img {
  width: 188px;
  height: 105px;
  margin-top: 30px;
}
.footer {
  height: 470px;
  background-color: #ffffff;
  border-top: 2px solid #cccccc;
}
.footer .foot-list {
  height: 140px;
  border-bottom: 1px solid #cccccc;
}
.footer .foot-list li {
  float: left;
  width: 238px;
  height: 100%;
}
.footer .foot-list li .list-i {
  display: block;
  width: 100%;
  height: 60px;
  margin-top: 40px;
}
.footer .foot-list li .list-i img {
  float: left;
}
.footer .foot-list li .list-i .i-name {
  float: left;
  margin-top: 12px;
  margin-left: 10px;
}
.footer .foot-list li .list-i .i-name .i-type {
  font-size: 16px;
  color: #666666;
}
.footer .foot-list li .list-i .i-name .i-type:hover {
  color: #f22a38;
}
.footer .foot-list li .list-i .i-name .i-t {
  margin-top: 5px;
  color: #999999;
}
.footer .foot-list li .list-i .i-name .i-t:hover {
  color: #f22a38;
}
.footer .other-list {
  margin-top: 40px;
  overflow: hidden;
}
.footer .other-list li {
  float: left;
  width: 396px;
}
.footer .other-list li .share {
  position: relative;
  top: -5px;
}
.footer .other-list li p {
  color: #666666;
  margin-top: 10px;
}
.footer .identity {
  margin-top: 40px;
}
.footer .identity li {
  float: left;
  width: 148px;
}
